In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.cross_validation import cross_val_score
from sklearn.feature_extraction.text import HashingVectorizer

from sklearn.metrics import mean_squared_error
#from sklearn.metrics import neg_mean_squared_error

/home/user/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

## Подготовка данных (urls)

In [3]:
urls_train_df = pd.read_csv('data/url_domain_train', header=None, delimiter='\t')
urls_train_df.columns = ['id', 'url', 'count']
urls_train_df = urls_train_df[['id', 'url']]

In [4]:
urls_train_df.head()

                                 id                  url
0  000000014B60815F65B38258011B6C01  login.rutracker.org
1  000000014B60815F65B38258011B6C01        rutracker.org
2  000000014C03DA2A47AC433A0C755201   admin.tour-spb.net
3  000000014C03DA2A47AC433A0C755201            czinfo.ru
4  000000014C03DA2A47AC433A0C755201       forumsostav.ru

In [5]:
urls_train_df = pd.DataFrame(urls_train_df.groupby('id')['url'].apply(lambda x: x.tolist()))
urls_train_df['id'] = urls_train_df.index
urls_train_df.index = range(len(urls_train_df))
urls_train_df.columns = ['urls', 'id']

In [6]:
#   urls_train_df

In [7]:
urls_train_df.head()

,urls,id
0,"[id.rambler.ru, mail.rambler.ru, r0.ru]",000000013CB5719C0000A2C90002C101
1,"[1prime.ru, autorambler.ru, chellak.ru, docs.c...",00000001442BE24000001B7D00F50801
2,[bosch-korolev.ru],00000001448580F800003F1B31FB0901
3,"[aptekanizkihcen.ua, colady.ru, gorod.dp.ua, i...",0000000145BDB2FF000157971645E901
4,"[astrorok.ru, diets.ru, edaplus.info, eshzdoro...",000000014602771F0000DB9359714C01

In [8]:
age_train_df = pd.read_csv('data/age_profile_train', header=None, delimiter='\t')
age_train_df.columns = ['id', 'age']

In [9]:
age_train_df.head()

                                 id  age
0  000000013CB5719C0000A2C90002C101   53
1  00000001442BE24000001B7D00F50801   48
2  00000001448580F800003F1B31FB0901   28
3  0000000145BDB2FF000157971645E901   44
4  000000014602771F0000DB9359714C01   48

In [10]:
train_df = urls_train_df.merge(age_train_df, on='id', how='left')

In [11]:
train_df.head()

,urls,id,age
0,"[id.rambler.ru, mail.rambler.ru, r0.ru]",000000013CB5719C0000A2C90002C101,53
1,"[1prime.ru, autorambler.ru, chellak.ru, docs.c...",00000001442BE24000001B7D00F50801,48
2,[bosch-korolev.ru],00000001448580F800003F1B31FB0901,28
3,"[aptekanizkihcen.ua, colady.ru, gorod.dp.ua, i...",0000000145BDB2FF000157971645E901,44
4,"[astrorok.ru, diets.ru, edaplus.info, eshzdoro...",000000014602771F0000DB9359714C01,48

In [12]:
train_df.shape

(118603, 3)

## Снижение размерности

In [13]:
#topk = 30000
topk = 75000

X, y = train_df.urls.values[:topk], train_df.age.values[:topk]

In [14]:
X.shape

(75000,)

In [15]:
y.shape

(75000,)

In [16]:
X = map(lambda x: ' '.join(x), X)
#hw = HashingVectorizer(n_features=1000).fit(X)
hw = HashingVectorizer(n_features=2500).fit(X)
X = hw.transform(X).todense()

In [17]:
X.shape

(75000, 2500)

In [18]:
LinearRegression

sklearn.linear_model.base.LinearRegression

## Обучение модели

In [ ]:
#%%time
reg = LinearRegression(fit_intercept=True, normalize=False)

- cross_val_score(reg, X, y, scoring='neg_mean_squared_error', verbose=1)

#- cross_val_score(reg, X, y, scoring='neg_mean_squared_error', verbose=1)

## Отправка Решения

In [ ]:
reg = LinearRegression()
reg.fit(X, y)

In [ ]:
urls_test_df = pd.read_csv('data/url_domain_test', header=None, delimiter='\t')
urls_test_df.columns = ['id', 'url', 'count']
urls_test_df = urls_test_df[['id', 'url']]

In [ ]:
urls_test_df = pd.DataFrame(urls_test_df.groupby('id')['url'].apply(lambda x: x.tolist()))
urls_test_df['id'] = urls_test_df.index
urls_test_df.index = range(len(urls_test_df))
urls_test_df.columns = ['urls', 'id']

In [ ]:
urls_test_df.head()

In [ ]:
X = urls_test_df.urls.values
X = map(lambda x: ' '.join(x), X)
X = hw.transform(X).todense()

In [ ]:
#X

In [ ]:
y_pred = reg.predict(X)

In [1]:
y_pred

NameError: name 'y_pred' is not defined

In [26]:
urls_test_df['age'] = y_pred

In [27]:
urls_test_df = urls_test_df[['id', 'age']]
urls_test_df.columns = ['Id', 'age']

In [28]:
urls_test_df.head()

                                 Id        age
0  000000014A02348E701552980349FF01  42.828394
1  000000014A10EA183BF8594A0B2AB201  40.888356
2  000000014A4FE5C33A929D4C26943601  45.803265
3  000000014B7BB9957784A9BC0AC9F401  35.625933
4  000000014C7749F896D82C2B01E8B801  34.622525

In [21]:
#random_sol = pd.read_csv('data/random_solution.csv')
random_sol = pd.read_csv('data/sample_submission.csv')

miss_idx = set(random_sol.Id.values) - set(urls_test_df.Id.values)
miss_df = pd.DataFrame(zip(list(miss_idx), np.ones(len(miss_idx))))
miss_df.columns = ['Id', 'age']

NameError: name 'urls_test_df' is not defined

In [24]:
urls_test_df = urls_test_df.append(miss_df, ignore_index=True)

NameError: name 'urls_test_df' is not defined

In [31]:
urls_test_df.to_csv('solution.csv', index=False)

In [32]:
!wc -l solution.csv

19980 solution.csv

In [23]:
urls_test_df

NameError: name 'urls_test_df' is not defined